<div id="content">
  <h1 id="title"><%= t 'wallstickers.gallery.title' %> <%= @artist.username %></h1>

  <% @wallstickers.each_slice(3) do |row| %>
    <div class="wallsticker_row">
      <% row.each do |wallsticker| %>
        <div class='wallsticker_container'>
          <%= link_to show_wallsticker_path(wallsticker) do %>
            <img src="<%= wallsticker.source_image_url %>" style="background-color:#666;" />
          <% end %>
          <p><%= link_to wallsticker.title, show_wallsticker_path(wallsticker) %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_user_is? @artist %><!-- TODO: switch to CanCan -->
      <%= link_to image_tag('/images/icons/add.png'), new_wallsticker_path,
                  :alt => t('wallstickers.gallery.add'), :class => "button" %>
  <% end %>
</div>

<div id="panel">
  <%= render 'artist' %>
</div>
