<section id="authorsProfileBox" class="lFloated">
  <div id="authorsDetails">
    <h2 class="hasBg sea"><%= t 'wallstickers.gallery.title' %></h2>
    <%= image_tag @artist.avatar_url %>
  </div>

  <div id="aboutAuthor">
    <h4>Artist bio</h4>
    <%= simple_format @artist.bio %>
  </div>
</section>

<section id="authorsArtBox" class="rFloated">
  <h2 class="hasBg sea">Projekty artysty</h2>
  <div id="artThumbs">

    <% @wallstickers.each_slice(3) do |row| %>
      <div class="wallsticker_row">
        <% row.each do |wallsticker| %>
          <div class='wallsticker_container'>
            <%= link_to show_wallsticker_path(wallsticker) do %>
              <img src="<%= wallsticker.source_image_url %>" />
            <% end %>
            <p><%= link_to wallsticker.title, show_wallsticker_path(wallsticker) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user_is? @artist %><!-- TODO: switch to CanCan -->
    <%= link_to image_tag('/images/icons/add.png'), new_wallsticker_path,
                :alt => t('wallstickers.gallery.add'), :class => "button" %>
  <% end %>
</section>
