<h1 id="title"><%= t 'wallstickers.new.title' %></h1>
<h3 id="section"><%= current_user.artist.full_name %></h3>

<div class='wallstickers_row'>
<%= semantic_form_for @wallsticker,
                      :url => create_wallsticker_path,
                      :html => {:multipart => true} do |f| %>
  <%= f.inputs :title, :description, :category %>
  <br>
  <%= f.input :source_image, :as => :file %>
  <br>

    <p>Square thumbnail (260 x 260 pixels):</p>
  <%= f.input :browse_image, :as => :file %>

  <br>
  <p>Upload sales photos: JPEG format, will be displayed at 480x720.</p>
  <% first_sale_photo = true %>
  <%= f.inputs :for => :sale_photos do |p| %>
    <% if first_sale_photo %>
      <%= p.input :image, :as => :file, :required => true %>
      <% first_sale_photo = false %>
    <% else %>
      <%= p.input :image, :as => :file, :required => false %>
    <% end %>
  <% end %>

  <br>
  <%= f.buttons :commit %>
<% end %>
</div>
