<div id="productDescription">
  <section id="galleryAndAuthorDesc" class="lFloated">
    <div class="galleryBox">
      <div class="itemsContainer">
        <span class="arrow prev">Poprzednie zdjęcie</span>
        <span class="arrow next">Następne zdjęcie</span>
        <div class="items">
          <% @wallsticker.image_urls.each do |url| %>
            <%= image_tag url %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="authorsDetails">
      <h2>Autor projektu</h2>
      <img class="avatar" src="/images/noPhotoAvatar.png" alt="">
      <div class="authorDescription">
        <h3><%= @wallsticker.artist.full_name %></h3>
        <p><a href="#">www.iamadesigner.com</a></p>
        <p>Szczecin</p>
        <p>12 naklejek dodanych</p>
        <a href="<%= artist_gallery_path(@wallsticker.artist) %>" class="button">
           <strong>Galeria autora</strong> | Zobacz
         </a>
      </div>
      </div>
  </section>
  <section id="descriptionContainer">
    <h2 class="hasBg sea"><%= @wallsticker.title %></h2>

    <%= simple_format @wallsticker.description %>

    <div id="configuratorBox">
      <%= form_for @variant,
          :url => add_wallsticker_to_cart_path(@wallsticker),
          :html => {:multipart => true} do |f| %>

        <fieldset>
          <div id="colorSelector">
            <p><%= @wallsticker.colors %></p>
          </div>
          <div class="even">
            <label for="materialType">Materiał</label>
            <select id="materialType" name="materialType">
              <option>Folia transparenta</option>
            </select>
          </div>
          <div>
            <label for="dims">Wymiary</label>
            <select id="dims" name="dims">
              <option>200 x 500 cm (4 kawałki) - 125,00 PLN</option>
            </select>
          </div>
          <div class="even hasSubmit">
            <%= f.submit t('wallstickers.show.add_to_cart') %>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div id="relatedBox">
      <h3>Inne projekty z tej kategorii</h3>
      <div>
        <a rel="group" href="/images/temp/thumb_01.jpg"><img src="/images/temp/thumb_01.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_02.jpg"><img src="/images/temp/thumb_02.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_03.jpg"><img src="/images/temp/thumb_03.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_04.jpg"><img src="/images/temp/thumb_04.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_04.jpg"><img src="/images/temp/thumb_04.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_03.jpg"><img src="/images/temp/thumb_03.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_02.jpg"><img src="/images/temp/thumb_02.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_01.jpg"><img src="/images/temp/thumb_01.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_01.jpg"><img src="/images/temp/thumb_01.jpg" alt="miniaturka"></a>
        <a rel="group" href="/images/temp/thumb_02.jpg"><img src="/images/temp/thumb_02.jpg" alt="miniaturka"></a>
      </div>
    </div>
  </section>
</div>
