<h1><%= t 'shopping_cart.title' %> <%= @current_user.full_name %></h1>

<h3><%= current_user.full_name %></h3>

<table style='border-spacing:10px;'>
  <% @items.each do |item| %>
  <tr>
    <td><%= image_tag item.variant.wallsticker.small_square_image_url %></td>
    <td><%= item.variant.wallsticker.title %></td>
    <td><%= "#{item.variant.width_cm}x#{item.variant.height_cm} cm" %></td>
    <td><%= "#{item.variant.price_pln} PLN" %></td>
  </tr>
  <% end %>
</table>

<%= form_tag shopping_cart_checkout_path, :method => :post do %>
  <%= submit_tag t('shopping_cart.order_button') %>
<% end %>

