Great! We just need your billing and shipping info.

<%= semantic_form_for @order,
                      :url => update_order_progress_path,
                      :method => :post do |f| %>

  <%= hidden_field_tag 'update_status', 'waiting_confirm_address_info' %>

  <%= f.inputs :for => :billing_address do |a| %>
    <%= a.inputs :street_line, :zipcode, :city %>

    <select><option>Poland</option></select>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Confirm Address' %>
  <% end %>

<% end %>

