<section id="bottomNav">
  <ul>
    <li class="hasTitle"><h3><%= t 'layouts.bottom.stickers.title' %></h3></li>
    <li><%= link_to t('layouts.bottom.stickers.about'), '#' %></li>
    <li><%= link_to t('layouts.bottom.stickers.conditions'), '#' %></li>
    <li><%= link_to t('layouts.bottom.stickers.privacy'), '#' %></li>
    <li><%= link_to t('layouts.bottom.stickers.design'), '#' %></li>
    <li><%= link_to t('layouts.bottom.stickers.contact'), '#' %></li>
  </ul>
  <ul>
    <li class="hasTitle"><h3><%= t 'layouts.bottom.shopping.title' %></h3></li>
    <li><%= link_to t('layouts.bottom.shopping.delivery'), '#' %></li>
    <li><%= link_to t('layouts.bottom.shopping.returns'), '#' %></li>
    <li><%= link_to t('layouts.bottom.shopping.tracking'), '#' %></li>
  </ul>
  <ul>
    <li class="hasTitle"><h3><%= t 'layouts.bottom.qna.title' %></h3></li>
    <li><%= link_to t('layouts.bottom.qna.how_to'), '#' %></li>
  </ul>
</section>
