
  <div class="floatRow clearAfter">
    <section id="authorsDetails">
      <h2><%= t 'layouts.artist_of_the_day.title' %></h2>

      <%= image_tag(@promoted_artist.avatar_url, :class => 'avatar') %>

      <div class="authorDescription">
        <h3>
          <%= link_to @promoted_artist.full_name, artist_gallery_path(@promoted_artist) %>
        </h3>
        <ul>
          <li><%= t 'layouts.artist_of_the_day.since' %>:
            <strong><%= l(@promoted_artist.created_at, :format => :short) %></strong>
          </li>
          <li><%= t 'layouts.artist_of_the_day.designed'%>:
            <%= link_to artist_gallery_path(@promoted_artist) do %>
              <%= @promoted_artist.wallstickers.count.to_s %>
            <% end %>
          </li>
        </ul>
        <a href="<%= artist_gallery_path(@promoted_artist) %>" class="button" id="goToGallery">
          <%= t 'layouts.artist_of_the_day.gallery' %>
        </a>
      </div>
    </section>

    <section id="authorsGallery">
      <% @promoted_artist.wallstickers.each do |wallsticker| %>
        <%= link_to show_wallsticker_path(wallsticker) do %>
          <%= image_tag wallsticker.small_square_image_url, :alt => 'miniaturka' %>
        <% end %>
      <% end %>
    </section>

    <section id="ctaContainer">
      <% if current_user %>
        <%= link_to new_wallsticker_path(current_user), :class => "cta" do %>
          <h2><%= t 'layouts.cta.title' %></h2>
          <p><span><%= t 'layouts.cta.join' %></span></p>
          <span><%= t 'layouts.cta.create' %></span>
        <% end %>
      <% else %>
        <%= link_to register_user_path, :class => "cta" do %>
          <h2><%= t 'layouts.cta.title' %></h2>
          <p><span><%= t 'layouts.cta.join' %></span></p>
          <span><%= t 'layouts.cta.create' %></span>
        <% end %>
      <% end %>

      </a>
    </section>
  </div>
