<section id="howtoBox">
  <div class="boxContent">
    <h2><%= t 'layouts.how_to.how'%></h2>
    <p>
      <%= t 'layouts.how_to.how_text'%>
    </p>
    <hr>
    <h2><%= t 'layouts.how_to.problems'%></h2>
    <p>
      <%= t 'layouts.how_to.problems_text'%>
    </p>
    <ul id="contactInfo">
      <li id="phoneInfo"><%= t 'layouts.contact.phone'%></li>
      <li id="emailInfo"><%= t 'layouts.contact.email'%></li>
    </ul>
  </div>
</section>
