<div id="subsBox" class="contentBox transparentBox">
  <section id="newsletterBox">
    <h2><%= t 'layouts.newsletter.title' %> <em><%= t 'layouts.newsletter.newsletter' %></em></h2>
    <form action="/subscribe" method="post">
      <fieldset>
        <input type="text" value="<%= t 'layouts.newsletter.email' %>"
               onfocus="this.value=''"
        >
        <input type="submit" value="<%= t 'layouts.newsletter.subscribe' %>">
        <input type="button" value="<%= t 'layouts.newsletter.unsubscribe' %>">
      </fieldset>      
    </form>
  </section>
  <section id="facebookBox">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <h2><%= t 'layouts.like_us' %> <em><%= t 'layouts.facebook' %></em></h2>
    <div class="fb-facepile" data-href="wallstickers.pl" data-width="520" data-max-rows="1"></div>
  </section>
</div>