<div id="subsBox" class="contentBox transparentBox">
  <section id="newsletterBox">
    <h2><%= t 'layouts.newsletter.title' %> <em><%= t 'layouts.newsletter.newsletter' %></em></h2>
    <form action="http://wallstickers.us2.list-manage.com/subscribe/post?u=fcdaf8d164da898ed388ede05&amp;id=b20620515c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <fieldset>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" 
          placeholder="<%= t 'layouts.newsletter.email' %>" required>
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
        <a href="http://wallstickers.us2.list-manage1.com/unsubscribe?u=fcdaf8d164da898ed388ede05&id=b20620515c"></a>
      </fieldset>
    </form>
  </section>
  <section id="facebookBox">
    <h2><%= t 'layouts.like_us' %> <em><%= t 'layouts.facebook' %></em></h2>
    <div id="fb">
      <img src="/images/facebookMask.png" alt="zaślepka">
    </div>
  </section>
</div>