<div id="updateBrowser">
    <h2>
      <%= t 'layouts.update_browser.shout' %>  <%= l(Date.today, :format => "%Y") %>!
      <%= t 'layouts.update_browser.explorer' %>
    </h2>
    <p>
      <%= t 'layouts.update_browser.message' %>
    </p>
    <ul>
      <li>&raquo; <a id="bie" href="http://www.microsoft.com/poland/twojanowa/default.aspx" title="Zaktualizuj Internet Explorera">Internet Explorer 9.0</a></li>
      <li>&raquo; <a id="bfirefox" href="http://firefox.pl" title="Pobierz Firefoksa">Mozilla Firefox</a></li>
      <li>&raquo; <a id="bchrome" href="http://google.pl/chrome" title="Pobierz Chromę">Google Chrome</a></li>
      <li>&raquo; <a id="bopera" href="http://opera.com" title="Pobierz Operę">Opera</a></li>
      <li>&raquo; <a id="bsafari" href="http://apple.com/pl/safari" title="Pobierz Safari">Safari</a></li>
    </ul>
    <p><%= t 'layouts.update_browser.return' %></p>
  </div>