<!DOCTYPE html>
<html>
<head>
  <title>Wallstickers</title>

  <%= stylesheet_link_tag 'application' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_classes.join(' ') %>">

  <div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", '#' %>
      <%= link_to "Logout", :logout %>
    <% else %>
      <%= link_to "Register", '#' %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>

<%= yield %>

</body>
</html>
