<!DOCTYPE html>
<html dir="ltr" lang="<%= t 'layouts.language' %>">
  <%= render 'layouts/head' %>

  <body class="<%= body_classes.join(' ') %>">
    <div id="wrapper">

      <a class="cta createSticker" href="#">
        <% t 'layouts.design_a_sticker' %>
      </a>
      <%= render 'layouts/header' %>
      <%= render 'layouts/notices' %>

      <div class="contentBox hasShadow">
        <%= render 'layouts/search' %>
        <%= yield %>
      </div>

      <%= render 'layouts/newsletter' %>

      <div class="contentBox">

        <%= yield :promote %>

        <%= render 'layouts/social' %>
        <%= render 'layouts/bottom' %>

        <footer>
          <p>&copy; <%= t 'layouts.bottom.copyright' %></p>
        </footer>
      </div>

    </div>
    <%= render 'layouts/update' %>
  </body>
</html>